---
import { FormSuscripction } from "./FormSuscripction";
---

<footer class=" bg-gradient-to-b from-[#151515] to-[#050505] lg:pr-60">
  <!-- Logo -->
  <div class="flex flex-col items-center">
    <img src="/logo_suscripcion.png" class="max-h-20 p-9 pb-0 animate-pulse" />
    <span class="font-bold capitalize text-xl text-center text-white p-4"
      >Lorem, ipsum do asdasdas
    </span>
  </div>
  <!-- Form -->
  <FormSuscripction client:visible />
  <!-- Redes Sociales -->
  <div>
    <ul class="flex justify-center items-center gap-4 pt-6">
      <a href="">
        <li>
          <img
            src="/icons/Instagram_Logo.png"
            class="rounded-full hover:opacity-75"
          />
        </li>
      </a>
      <a href="">
        <li>
          <img
            src="/icons/TikTok_Logo.webp"
            class="rounded-full hover:opacity-75"
          />
        </li>
      </a>
      <a href="">
        <li>
          <img
            src="/icons/YouTube_Logo.png"
            class="rounded-full hover:opacity-75"
          />
        </li>
      </a>
    </ul>
  </div>
  <!-- Copyrights -->
  <div class="text-center text-white px-6 py-4">
    <p class="text-sm font-thin">© 2024 Copyrights | GENESIS | All Rights Reserved</p>
    <p class="text-sm">Designed By ProWeb Solutions</p>
  </div>
</footer>
