<div
  class="hidden lg:flex flex-col bg-[#005FEA] text-white h-screen w-80 fixed top-0 left-0 p-14 z-20"
>
  <div>
    <img class="" src="/logotipo.png" alt="Logotipo-Genesis" />
  </div>
  <nav>
    <ul class="flex flex-col">
      <a href="#home">
        <li class="li-nav font-bold py-4 text-xl">Inicio</li>
      </a>

      <a href="#curso">
        <li class="li-nav font-bold py-4 text-xl">Curso</li>
      </a>

      <a href="#form-audience">
        <li class="li-nav font-bold py-4 text-xl">Suscribete</li>
      </a>
      <a href="#telegram-Group">
        <li class="li-nav font-bold py-4 text-xl">Comunidad</li>
      </a>

      <a href="#works">
        <li class="li-nav font-bold py-4 text-xl">Trabajos</li>
      </a>

      <a href="#promo-guia">
        <li class="li-nav font-bold py-4 text-xl">Guía</li>
      </a>
      <a href="#advisory">
        <li class="li-nav font-bold py-4 text-xl">Servicios</li>
      </a>
    </ul>
  </nav>
</div>

<style>
  .li-nav {
    position: relative;
    display: inline-block;
    list-style: none;
    color: #f6f6f9;
    transition: 0.3s;
  }
  .li-nav::before {
    content: '';
    position: absolute;
    height: 4px;
    width: 0%;
    background-color: #221e42;
    bottom: 10px;
    transition: width 0.4s;
  }
  .li-nav:hover::before {
    width: 100%;
  }
  .li-nav:hover {
    color: #221e42;
  }
</style>
