---
// Home.astro

---

<article id="home" class="text-gray-600 bg-[#151515] body-font">
  <!-- Enlace Promocional -->
  <div class="relative z-20 bg-[#221E42] text-white">
    <a href="#promo-guia" class="relative z-30 flex text-center p-4 justify-center items-center flex-col">
      ¡HAZ CLIC AQUÍ PARA OBTENER MI NUEVA GUÍA GRATIS!
      <span>(Guia completa para optimizar tu perfil de Google)</span>
    </a>
  </div>
  <!-- Contenedor Principal con Imagen de Fondo -->
  <div class="relative h-[400px] w-full xl:w-[80%] bg-cover bg-center sm:bg-[url('/Fondo_home.jpg')] bg-[url('/Fondo_mobile.jpg')] mt-[-20px]">
    <!-- Fondo negro con opacidad para el texto -->
    <div class="absolute inset-0 flex flex-col justify-end items-center bg-black bg-opacity-50 text-white">
      <h2 class="text-3xl z-10 md:text-5xl font-bold text-center px-4 mt-20" style="text-shadow: 2px 2px 30px rgba(255, 255, 255, 0.8);">
        La mejor manera de predecir el futuro es crearlo
      </h2>
    </div>
    <!-- Div adicional con fondo lineal -->
    <div class="absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-b from-transparent to-[#151515]"></div>
  </div>
  </div>
</article>
