---
import Carousel from './Carousel';
---

<article id="works" class="text-gray-600 bg-[#151515] body-font ">
  <!-- Grid -->
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap lg:w-[80%] -m-4">
      <div class="w-full sm:w-1/2 lg:p-12 p-4">
        <div class="flex relative w-full h-full lg:w-388 lg:h-300">
          <img alt="gallery" class="absolute inset-0 w-full h-full rounded-xl object-cover lg:w-388 lg:h-300 object-left" src="/rdremodeling.jpeg">
          <div class="px-8 py-10 relative z-10 w-full h-full border-4 rounded-xl border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            <a href="" class="text-[#4D9EEF] flex items-center gap-1 hover:gap-4 transition-all">Ir al sitio
              <img src="/arrow-left.svg" class="h-7"/>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:p-12 p-4">
        <div class="flex relative w-full h-full lg:w-388 lg:h-300">
          <img alt="gallery" class="absolute inset-0 h-full w-full rounded-xl lg:w-388 lg:h-300 object-cover object-center" src="/Nation-wide.jpeg">
          <div class="px-8 py-10 relative z-10 w-full h-full border-4 rounded-xl border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The Catalyzer</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            <a href="" class="text-[#4D9EEF] flex items-center gap-1 hover:gap-4 transition-all">Ir al sitio
              <img src="/arrow-left.svg" class="h-7"/>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:p-12 p-4">
        <div class="flex relative w-full h-full lg:w-388 lg:h-300">
          <img alt="gallery" class="absolute inset-0 w-full h-full rounded-xl object-cover object-center" src="clinica-san-rafael.jpeg">
          <div class="px-8 py-10 relative z-10 w-full h-full border-4 rounded-xl border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The 400 Blows</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            <a href="" class="text-[#4D9EEF] flex items-center gap-1 hover:gap-4 transition-all">Ir al sitio
              <img src="/arrow-left.svg" class="h-7"/>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full sm:w-1/2 lg:p-12 p-4">
        <div class="flex relative w-full h-full lg:w-388 lg:h-300">
          <img alt="gallery" class="absolute inset-0 w-full h-full rounded-xl object-cover object-center" src="clinicafamilarprk.jpeg">
          <div class="px-8 py-10 relative z-10 w-full h-full border-4 rounded-xl border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">THE SUBTITLE</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Neptune</h1>
            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
            <a href="" class="text-[#4D9EEF] flex items-center gap-1 hover:gap-4 transition-all">Ir al sitio
              <img src="/arrow-left.svg" class="h-7"/>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-10 lg:w-[80%] ">
      <Carousel client:load />
    </div>
  </div>
</article>