---
import FormFunnel from "./FormFunnel"
---

<section class="h-screen w-screen flex flex-col  items-center relative">
    <div class="linear-gradient-2 absolute top-0 left-0 w-full h-full z-0"></div>
    <div class="linear-gradient-1 absolute top-0 left-0 w-full h-full z-0"></div>
    <div class="container-persentation relative z-10 flex flex-col items-center text-center h-full ">
      <h1 class="py-4 text-xl">
        <strong class="text-white antialiased text-3xl block">
          OBTÉN LA GUÍA COMPLETA PARA OPTIMIZAR TU PERFIL DE GOOGLE
        </strong>
        <span class="tracking-[2px] font-medium text-sm text-white antialiased py-2 block">
          BY GENESIS <br> Author: Alfredo Ferras
        </span>
      </h1>
      <figure class="py-4" id="image-container">
        <img src="/pdf-presentacion.png"  alt="PDF GUIA COMPLETA PARA OPTIMIZAR TU PERFIL DE Google" class="w-40  drop-shadow-[0_10px_35px_rgba(255,255,255,0.5)]">
      </figure>
      <div class="w-full flex justify-center py-4">
        <div class="bg-[#005FEA] text-white py-3 px-5 rounded-md  cursor-pointer">
          <a class="text-center text-white" href="#obtener-guia-gratutita-form">Obten nuestra guía gratuita</a>
        </div>
      </div>
    </div>
    <FormFunnel client:load/>
  </section>
    
  <script>
    document.addEventListener('DOMContentLoaded', () => {
    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('animate-bounceIn');
        }
      });
    }, { threshold: 0.5 });

    const imageContainer = document.getElementById('image-container');
    observer.observe(imageContainer);
  });
  </script>


  <style>
    html {
      background-color: black !important;
    }
  
    .container-persentation {
      padding: 50px 20px;
      max-width: 800px;
    }
  
    /* Gradients */
    .linear-gradient-1 {
      background: radial-gradient(at left center, rgba(1, 190, 150, 0.5), transparent, transparent);
    }
    .linear-gradient-2 {
      background: radial-gradient(at right center, rgba(36, 1, 190, 0.6), rgb(0, 0, 0), rgb(0, 0, 0));
    }
  
    /* Responsive */
    @media (max-width: 900px) {
      .container-persentation {
        padding: 20px 10px;
      }
    }
  
    @media (max-width: 500px) {
      .linear-gradient-1 {
        display: none;
      }
    }
  
    @keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    50% {
      transform: scale(1.0);
      opacity: 1;
    }
    70% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-bounceIn {
    animation: bounceIn 3s ease-in-out forwards;
  }
  
  </style>
  