@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("fonts/NeueHaasGrotesk-Regular.woff2") format("woff2"),
    url("fonts/NeueHaasGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Grotesk";
  src: url("fonts/NeueHaasGrotesk-Bold.woff2") format("woff2"),
    url("fonts/NeueHaasGrotesk-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Neue Haas Grotesk", sans-serif;
  overflow-x: hidden;
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

/* Gradients */
.linear-gradient-2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    at center,
    rgba(36, 1, 190, 0.925),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  z-index: 0;
}

/* Form */
.form-step {
  position: absolute;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.hidden-form {
  opacity: 0;
  pointer-events: none;
}

.visible-form {
  opacity: 1;
  pointer-events: all;
}

.form-container {
  position: relative;
  height: 200px; /* Adjust the height based on your input fields */
}

.group[data-has-value="true"] .group-data-\[has-value\=true\]\:text-foreground {
  --tw-text-opacity: 1;
  color: hsl(
    var(--nextui-foreground) /
      var(--nextui-foreground-opacity, var(--tw-text-opacity))
  );
  color: white;
}
