---
import Asesoria from '../components/landing/Asesoria.astro';
import Footer from '../components/landing/Footer.astro';
import HeaderDesk from '../components/landing/HeaderDesk.astro';
import Header from '../components/landing/HeaderMobile.astro';
import Home from '../components/landing/Home.astro';
import Promo from '../components/landing/Promo.astro';
import Works from '../components/landing/Works.astro';
import TelegramGroup from '../components/landing/TelegramGroup.astro';
import Loading from '../components/Loading.astro';
import LayoutLanding from '../layouts/LayoutLanding.astro';
// import Zoom from '../components/zoom/Zoom.astro';
import FormAudienceMchimp from '../components/form-audience-mchimp/Form-audience-mchimp.astro';
import Curso from '../components/landing/Curso.astro';
---

<LayoutLanding title="Welcome to GENESIS.">
  <Loading />
  <header>
    <Header />
    <HeaderDesk />
  </header>
  <section class="lg:ml-80">
    <Home />
    <!-- <Curso /> -->
    <!-- <FormAudienceMchimp /> -->
    <!-- <Zoom/> -->
    <TelegramGroup />
    <Works />
    <Promo />
    <Asesoria />
    <Footer />
  </section>
</LayoutLanding>
