---
import Asesoria from "../components/landing/Asesoria.astro";
import Footer from "../components/landing/Footer.astro";
import HeaderDesk from "../components/landing/HeaderDesk.astro";
import Header from "../components/landing/HeaderMobile.astro";
import Home from "../components/landing/Home.astro";
import Promo from "../components/landing/Promo.astro";
import Works from "../components/landing/Works.astro";
import LayoutLanding from "../layouts/LayoutLanding.astro";
---

<LayoutLanding title="Welcome to GENESIS.">
  <heade >
    <Header />
    <HeaderDesk />
  </header>
  <section class="lg:ml-80">
    <Home/>
    <Works />
    <Promo />
    <Asesoria/>
    <Footer />
  </section>
  <!-- <About/> -->
</LayoutLanding>

