---
import HeaderDesk from "../components/landing/HeaderDesk.astro";
import Header from "../components/landing/HeaderMobile.astro";
import Works from "../components/landing/Works.astro";
import LayoutLanding from "../layouts/LayoutLanding.astro";
---

<LayoutLanding title="Welcome to GENESIS.">
  <header>
    <Header />
    <HeaderDesk />
  </header>
  <section class="lg:flex-1 lg:ml-80">
    <Works/>
    
  </section>
  <!-- <About/> -->
</LayoutLanding>
