<div class="bg-slate-950">
  <div class="bg-red-400">
  </div>
  <div class="flex justify-center items-center p-4">
    <img src="logotipo.png" height="260px" width="260px" alt="Logotipo" />
  </div>
</div>
