---
import IntroAnimation from "./IntroAnimation.astro";
---

<div id="loading" class="loading">
  <!-- <div class="spinner"></div> -->
  <IntroAnimation />
  <p>Cargando...</p>
</div>

<script>
  const loading = document.getElementById("loading");
  const htmlDocument = document.documentElement;
  htmlDocument.style.overflow = "hidden";

  window.addEventListener("load", function () {
    setTimeout(() => {
      loading.classList.add("hidden");
      htmlDocument.style.overflow = "auto";
    }, 1200);
  });
</script>

<style>
  /* Loading */
  .loading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    transition: opacity 0.5s ease;
    opacity: 1;
    visibility: visible;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .loading.hidden {
    opacity: 0;
    visibility: hidden;
  }
</style>
