<div
  class="hero-section"
  style="position: relative; width: 100%; height: 100vh; overflow: hidden;"
>
  <!-- Miniatura de fondo opcional para cubrir el espacio mientras se carga YouTube -->
  <!-- <img
    src="https://img.youtube.com/vi/kLK4LOH6J3U/maxresdefault.jpg"
    alt="Fondo de video"
    class="video-thumbnail"
    style="width: 100%; height: 100%; position: absolute; top: 0; left: 0; object-fit: cover; z-index: 1;"
  /> -->

  <!-- Video de YouTube embebido sin autoplay ni loop -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
    <iframe
      src="https://www.youtube.com/embed/kLK4LOH6J3U?autoplay=1"
      title="1104 1"
      frameborder="0"
      
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      style="width: 100%; height: 100%;"></iframe>
  </div>
</div>
