<div class="relative w-full h-[70vh] md:h-[90vh] overflow-hidden">
  <!-- Video de YouTube embebido -->
  <iframe
    src="https://www.youtube.com/embed/kLK4LOH6J3U?autoplay=1&rel=0"
    title="1104 1"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
    class="absolute top-0 left-0 w-full h-full"></iframe>
</div>
